<div class="search">
  <form #form = "ngForm" (submit)="onSubmit()" autocomplete="on">
    <input type="text" placeholder="Buscar ciudad" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/Sunday.jpg" alt="Icon temperatura alta" *ngIf="weatherData.temp > 15">
    <img src="../assets/ColdDay.jpg" alt="Icon temperatura baja" *ngIf="weatherData.temp <= 15">
    <div class="weather-data">
      <div class="location">
        {{actualCity}}
      </div>
      <div class="temperature">
        {{weatherData.temp | number: '1.0-0'}} °C
      </div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      Más información
    </div>

    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Baja.png" alt="">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.min_temp | number: '1.0-0'}} °C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Alta.png" alt="">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.max_temp}} °C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Humedad.png" alt="">
          <span>Humedad</span>
        </div>
        <div class="info-block-value">
          {{weatherData.humidity}} %
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Viento.png" alt="">
          <span>Viento</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind_speed}}&nbsp;<sup>km</sup>/<sub>h</sub>
        </div>
      </div>

    </div>
  </div>
</div>


<router-outlet></router-outlet>
